body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1210px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:791px;
  overflow:hidden;
}
#u114_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:791px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/optumrx/u114_state0.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:20px 791px;
}
#u114_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u115 {
  position:absolute;
  left:396px;
  top:152px;
}
#u115_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u115_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:517px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:517px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:606px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 35px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 5px 35px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 5px 35px rgba(0, 0, 0, 0.247058823529412);
}
#u118 {
  position:absolute;
  left:10px;
  top:732px;
  width:1180px;
  height:606px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u120 {
  position:absolute;
  left:512px;
  top:779px;
  width:193px;
  height:22px;
  color:#666666;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  line-height:80px;
}
#u122 {
  position:absolute;
  left:10px;
  top:152px;
  width:359px;
  height:160px;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  line-height:80px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u124_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:293px;
  height:10px;
}
#u124 {
  position:absolute;
  left:15px;
  top:345px;
  width:288px;
  height:5px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:10px;
  top:385px;
  width:170px;
  height:22px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u128 {
  position:absolute;
  left:10px;
  top:415px;
  width:243px;
  height:28px;
  color:#FFFFFF;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:263px;
}
#u130 {
  position:absolute;
  left:110px;
  top:840px;
  width:980px;
  height:263px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:1090px;
  top:2331px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u133 {
  position:absolute;
  left:541px;
  top:1096px;
  width:138px;
  height:22px;
  color:#666666;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:105px;
}
#u135 {
  position:absolute;
  left:110px;
  top:1153px;
  width:320px;
  height:105px;
  text-align:center;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:86px;
}
#u137 {
  position:absolute;
  left:364px;
  top:1153px;
  width:480px;
  height:86px;
  font-family:'RobotoSlab-Regular', 'Roboto Slab';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  position:absolute;
  left:10px;
  top:477px;
  width:68px;
  height:22px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u141 {
  position:absolute;
  left:10px;
  top:505px;
  width:69px;
  height:28px;
  color:#FFFFFF;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:70px;
}
#u144 {
  position:absolute;
  left:10px;
  top:0px;
  width:102px;
  height:70px;
  font-family:'PillGothic300mg-Oblique', 'Pill Gothic 300mg Oblique', 'Pill Gothic 300mg';
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:#666666;
}
#u145 {
  position:absolute;
  left:30px;
  top:27px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:70px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u146 {
  position:absolute;
  left:1156px;
  top:0px;
  width:44px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u146_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u146.mouseOver {
}
#u146_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u146.selected {
}
#u147 {
  position:absolute;
  left:0px;
  top:24px;
  width:44px;
  white-space:nowrap;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u148 {
  position:absolute;
  left:629px;
  top:0px;
  width:134px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u148_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u148.mouseOver {
}
#u148_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u148.selected {
}
#u149 {
  position:absolute;
  left:0px;
  top:24px;
  width:134px;
  white-space:nowrap;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u150 {
  position:absolute;
  left:1125px;
  top:0px;
  width:85px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u150_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u150.mouseOver {
}
#u150_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u150.selected {
}
#u151 {
  position:absolute;
  left:0px;
  top:24px;
  width:85px;
  white-space:nowrap;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u152 {
  position:absolute;
  left:924px;
  top:0px;
  width:73px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u152_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u152.mouseOver {
}
#u152_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u152.selected {
}
#u153 {
  position:absolute;
  left:0px;
  top:24px;
  width:73px;
  white-space:nowrap;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u154 {
  position:absolute;
  left:1027px;
  top:0px;
  width:68px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u154_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u154.mouseOver {
}
#u154_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u154.selected {
}
#u155 {
  position:absolute;
  left:0px;
  top:24px;
  width:68px;
  white-space:nowrap;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u156 {
  position:absolute;
  left:793px;
  top:0px;
  width:101px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u156_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u156.mouseOver {
}
#u156_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u156.selected {
}
#u157 {
  position:absolute;
  left:0px;
  top:24px;
  width:101px;
  white-space:nowrap;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:59px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u158 {
  position:absolute;
  left:10px;
  top:572px;
  width:134px;
  height:59px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u158_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:59px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u158.mouseOver {
}
#u159 {
  position:absolute;
  left:20px;
  top:20px;
  width:94px;
  white-space:nowrap;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:105px;
}
#u160 {
  position:absolute;
  left:750px;
  top:1153px;
  width:400px;
  height:105px;
  text-align:center;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:10px;
  top:1338px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
