body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:962px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:1788px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:1788px;
}
#u1 {
  position:absolute;
  left:2px;
  top:886px;
  width:958px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:161px;
  top:331px;
  width:640px;
  height:128px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:128px;
}
#u3 {
  position:absolute;
  left:2px;
  top:56px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:161px;
  top:459px;
  width:640px;
  height:920px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:920px;
}
#u5 {
  position:absolute;
  left:161px;
  top:1379px;
  width:640px;
  height:88px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
}
#u6 {
  position:absolute;
  left:2px;
  top:36px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:190px;
  top:381px;
  width:540px;
  height:53px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:54px;
}
#u8 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:363px;
  top:389px;
  width:221px;
  height:37px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:38px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
