body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-552px;
  top:0px;
  width:1753px;
  height:921px;
  overflow:hidden;
  touch-action:pan-y;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1753px;
  height:921px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:551px;
  top:88px;
  width:641px;
  height:833px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:833px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1518px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1518px;
}
#u3 {
  position:absolute;
  left:2px;
  top:751px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:1528px;
  width:641px;
  height:949px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:949px;
}
#u5 {
  position:absolute;
  left:2px;
  top:466px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:fixed;
  left:50%;
  margin-left:-320px;
  top:50%;
  margin-top:-236px;
  visibility:hidden;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:472px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:472px;
}
#u8 {
  position:absolute;
  left:2px;
  top:228px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:330px;
  top:320px;
  width:110px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:473px;
  top:60px;
  width:110px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:455px;
  top:320px;
  width:110px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:fixed;
  left:50%;
  margin-left:-145px;
  top:50%;
  margin-top:-115px;
  visibility:hidden;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:230px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:230px;
}
#u14 {
  position:absolute;
  left:2px;
  top:107px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:2190px;
  width:600px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:190px;
  top:2281px;
  width:260px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:553px;
  top:0px;
  width:640px;
  height:88px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:89px;
}
#u19 {
  position:absolute;
  left:2px;
  top:36px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:552px;
  top:0px;
  width:641px;
  height:99px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:99px;
}
#u21 {
  position:absolute;
  left:2px;
  top:42px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:553px;
  top:0px;
  width:88px;
  height:88px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u23 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:758px;
  top:0px;
  width:235px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:921px;
  overflow:hidden;
}
#u25_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:921px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:452px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:452px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:451px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:451px;
}
#u29 {
  position:absolute;
  left:2px;
  top:218px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:370px;
  width:552px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:460px;
  top:0px;
  width:92px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:450px;
  top:0px;
  width:103px;
  height:87px;
  overflow:hidden;
}
#u32_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:87px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:86px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:86px;
}
#u34 {
  position:absolute;
  left:2px;
  top:35px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:0px;
  top:86px;
  width:553px;
  height:835px;
  overflow:hidden;
}
#u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:835px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:4px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:4px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-6px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:4px;
  width:552px;
  height:65px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:65px;
}
#u40 {
  position:absolute;
  left:2px;
  top:24px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:66px;
  width:552px;
  height:544px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:544px;
}
#u42 {
  position:absolute;
  left:2px;
  top:264px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:489px;
  width:552px;
  height:348px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:348px;
}
#u44 {
  position:absolute;
  left:2px;
  top:166px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:69px;
  width:552px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:550px;
  top:0px;
  width:91px;
  height:86px;
  overflow:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:86px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:86px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u46_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:1102px;
  top:0px;
  width:87px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
