.ax_default {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.paragraph_small {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#424249;
  text-align:left;
  line-height:21px;
}
.paragraph {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#424249;
  text-align:left;
  line-height:24px;
}
.heading_giga {
  font-family:'Frutiger-Light';
  font-weight:normal;
  font-style:normal;
  font-size:48px;
  color:#424249;
}
.heading_mega {
  font-family:'Frutiger-Light';
  font-weight:normal;
  font-style:normal;
  font-size:36px;
  color:#424249;
  text-align:left;
}
.heading_1 {
  font-family:'Frutiger-Light';
  font-weight:normal;
  font-style:normal;
  font-size:32px;
  color:#424249;
  text-align:left;
}
.heading_2 {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:24px;
  color:#424249;
  text-align:left;
}
.heading_3 {
  font-family:'Frutiger-Bold';
  font-weight:normal;
  font-style:normal;
  font-size:20px;
  color:#424249;
  text-align:left;
}
.heading_4 {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:20px;
  color:#424249;
  text-align:left;
}
.heading_5 {
  font-family:'Frutiger-Bold';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#424249;
  text-align:left;
}
.heading_6 {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#424249;
  text-align:left;
}
.btn_primary {
  font-family:'Frutiger-Bold';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.btn_primary_mouseover {
}
.btn_primary_mousedown {
}
.btn_primary_disabled {
  color:#879196;
}
.btn_secondary {
  font-family:'Frutiger-Bold';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#0470C5;
  text-align:center;
}
.btn_secondary_mouseover {
  color:#FFFFFF;
}
.btn_secondary_mousedown {
  color:#FFFFFF;
}
.btn_secondary_disabled {
  color:#B1B3B3;
}
.btn_link {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#0470C5;
}
.btn_link_mouseover {
}
.nav_link {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#0470C5;
  text-align:left;
}
.btn_tertiary {
  font-family:'Frutiger-Bold';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#0470C5;
}
.btn_tertiary_mouseover {
  color:#0470C5;
}
.btn_tertiary_mousedown {
  color:#1F4E83;
}
.btn_tertiary_disabled {
  color:#DFDFDF;
}
.cardshadow {
}
.cardshadow_tab {
}
.ellipse {
}
.q_neutral {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#0470C5;
  text-align:center;
}
.q_neutral_mouseover {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
.q_neutral_selected {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.q_yes {
  font-family:'FontAwesome';
  font-weight:normal;
  font-style:normal;
  font-size:72px;
  color:#43A047;
  text-align:center;
}
.q_yes_mouseover {
  font-family:'FontAwesome';
  font-weight:normal;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
.q_yes_selected {
  font-family:'FontAwesome';
  font-weight:normal;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
.q_no {
  font-family:'FontAwesome';
  font-weight:normal;
  font-style:normal;
  font-size:72px;
  color:#FA464A;
  text-align:center;
}
.q_no_mouseover {
  font-family:'FontAwesome';
  font-weight:normal;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
.q_no_selected {
  font-family:'FontAwesome';
  font-weight:normal;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
.droplist {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
}
.droplist_mega {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
}
.tablecard {
}
.tablecard_mouseover {
}
.dropliststyle {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
.dropliststyle-mega {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:24px;
  text-align:left;
  line-height:24px;
}
.input_focus {
}
.input_focus_error {
}
.input_focus_warning {
}
.input_focus_success {
}
.flow_shape {
}
.data_label_header {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#626F7D;
  text-align:left;
}
.horizontal_line {
}
.line {
}
.label {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#050709;
  text-align:left;
}
.label_14 {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#050709;
  text-align:left;
}
.label_14_success {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#007A4B;
  text-align:left;
}
.label_14_warning {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#846732;
  text-align:left;
}
.label_14_error {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#C60F13;
  text-align:left;
}
.image {
}
.shape {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.radio_default {
}
.radio_selected {
}
.radio_mouseover {
}
.checkbox_default {
}
.checkbox_selected {
}
.checkbox_mouseover {
}
.input_field {
}
.input_field_success {
}
.input_field_warning {
}
.input_field_error {
}
.input_field_selected {
}
.input_text {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#050709;
  text-align:left;
}
.hint_style {
  font-family:'Frutiger-Italic';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#626F7D;
  text-align:left;
}
.input_label {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#626F7D;
  text-align:left;
}
.input_label_success {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#007A4B;
  text-align:left;
}
.input_label_warning {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#846732;
  text-align:left;
}
.input_label_error {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#C60F13;
  text-align:left;
}
.tab_inactive {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#0470C5;
  text-align:center;
}
.tab_active {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#424249;
  text-align:center;
}
.fontawesome {
}
.tooltip {
  font-family:'Frutiger-Light';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:21px;
}
.tooltip_header {
  font-family:'Frutiger-Bold';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
.favorite_selector_ {
}
.favorite_selector_mouseover {
}
.favorite_selector_selected {
}
.hint_text {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#879196;
  text-align:left;
}
.vertical_line {
}
.fontawesome1 {
}
.icon {
}
.tabel_label_header_-_14pt {
  font-family:'Frutiger-Bold';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#626F7D;
  text-align:left;
}
.tabel_label_header_-_14pt_-_sorted {
  font-family:'Frutiger-Bold';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#050709;
  text-align:left;
}
.table_column_header {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#626F7D;
  text-align:left;
}
.asterisk_label {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#FA464A;
}
.paragraph1 {
  text-align:left;
}
.active_tag {
  font-family:'Frutiger-Bold';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#1D781D;
  text-align:left;
}
.inactive_tag {
  font-family:'Frutiger-Bold';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#C60F13;
  text-align:left;
}
.warning_tag {
  font-family:'Frutiger-Bold';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#846732;
  text-align:left;
}
.neutral_tag {
  font-family:'Frutiger-Bold';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#1F4E83;
  text-align:left;
}
.label_light {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#424249;
  text-align:left;
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:bold;
  font-size:32px;
  text-align:left;
}
.steplabel {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#050709;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.label1 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.disclaimer {
  font-family:'Frutiger-Roman';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#424249;
  text-align:left;
  line-height:21px;
}
.shape1 {
}
