body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:921px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:921px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:1190px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:1190px;
}
#u2 {
  position:absolute;
  left:2px;
  top:587px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:370px;
  top:564px;
  width:113px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:220px;
  top:29px;
  width:201px;
  height:71px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:71px;
}
#u5 {
  position:absolute;
  left:2px;
  top:28px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
