body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1224px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:427px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 20px 50px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 20px 50px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 20px 50px rgba(0, 0, 0, 0.149019607843137);
}
#u0 {
  position:absolute;
  left:843px;
  top:4959px;
  width:317px;
  height:427px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Bold', 'Roboto Slab Bold', 'Roboto Slab';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#F07A4C;
  text-align:center;
}
#u2 {
  position:absolute;
  left:843px;
  top:5203px;
  width:317px;
  height:172px;
  font-family:'RobotoSlab-Bold', 'Roboto Slab Bold', 'Roboto Slab';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#F07A4C;
  text-align:center;
}
#u3 {
  position:absolute;
  left:0px;
  top:46px;
  width:317px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Bold', 'Roboto Slab Bold', 'Roboto Slab';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#F07A4C;
  text-align:center;
}
#u4 {
  position:absolute;
  left:843px;
  top:4978px;
  width:317px;
  height:194px;
  font-family:'RobotoSlab-Bold', 'Roboto Slab Bold', 'Roboto Slab';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#F07A4C;
  text-align:center;
}
#u5 {
  position:absolute;
  left:0px;
  top:57px;
  width:317px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:680px;
}
#u6 {
  position:absolute;
  left:0px;
  top:2553px;
  width:729px;
  height:680px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:-20px;
  width:1200px;
  height:851px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:851px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(77, 176, 129, 1);
  background-image:url('../../images/precheck_myscript/u8_state0.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:130px 130px;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:70px;
  top:143px;
}
#u9_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:585px;
}
#u10 {
  position:absolute;
  left:20px;
  top:0px;
  width:1134px;
  height:585px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 35px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 5px 35px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 5px 35px rgba(0, 0, 0, 0.247058823529412);
}
#u12 {
  position:absolute;
  left:10px;
  top:762px;
  width:1180px;
  height:700px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u14 {
  position:absolute;
  left:504px;
  top:809px;
  width:193px;
  height:22px;
  color:#666666;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
  line-height:80px;
}
#u16 {
  position:absolute;
  left:10px;
  top:142px;
  width:361px;
  height:160px;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
  line-height:80px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:205px;
  height:10px;
}
#u18 {
  position:absolute;
  left:15px;
  top:345px;
  width:200px;
  height:5px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:10px;
  top:385px;
  width:170px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u22 {
  position:absolute;
  left:10px;
  top:415px;
  width:306px;
  height:56px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:48px;
}
#u24 {
  position:absolute;
  left:210px;
  top:851px;
  width:784px;
  height:48px;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:294px;
}
#u26 {
  position:absolute;
  left:110px;
  top:870px;
  width:980px;
  height:294px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:70px;
}
#u29 {
  position:absolute;
  left:10px;
  top:0px;
  width:102px;
  height:70px;
  font-family:'PillGothic300mg-Oblique', 'Pill Gothic 300mg Oblique', 'Pill Gothic 300mg';
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:#666666;
}
#u30 {
  position:absolute;
  left:30px;
  top:27px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:70px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u31 {
  position:absolute;
  left:1156px;
  top:0px;
  width:44px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u31_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u31.mouseOver {
}
#u31_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:0px;
  top:24px;
  width:44px;
  white-space:nowrap;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:629px;
  top:0px;
  width:134px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u33_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u33.mouseOver {
}
#u33_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:0px;
  top:24px;
  width:134px;
  white-space:nowrap;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:1125px;
  top:0px;
  width:85px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u35_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u35.mouseOver {
}
#u35_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:0px;
  top:24px;
  width:85px;
  white-space:nowrap;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u37 {
  position:absolute;
  left:924px;
  top:0px;
  width:73px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u37_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u37.mouseOver {
}
#u37_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:0px;
  top:24px;
  width:73px;
  white-space:nowrap;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u39 {
  position:absolute;
  left:1027px;
  top:0px;
  width:68px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u39_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u39.mouseOver {
}
#u39_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:0px;
  top:24px;
  width:68px;
  white-space:nowrap;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u41 {
  position:absolute;
  left:793px;
  top:0px;
  width:101px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u41_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u41.mouseOver {
}
#u41_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u41.selected {
}
#u42 {
  position:absolute;
  left:0px;
  top:24px;
  width:101px;
  white-space:nowrap;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:10px;
  top:507px;
  width:68px;
  height:22px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u45 {
  position:absolute;
  left:10px;
  top:534px;
  width:131px;
  height:28px;
  color:#FFFFFF;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u47 {
  position:absolute;
  left:532px;
  top:1216px;
  width:138px;
  height:22px;
  color:#666666;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:70px;
}
#u49 {
  position:absolute;
  left:110px;
  top:1283px;
  width:280px;
  height:70px;
  text-align:center;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:86px;
}
#u51 {
  position:absolute;
  left:462px;
  top:1283px;
  width:277px;
  height:86px;
  font-family:'RobotoSlab-Regular', 'Roboto Slab';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:86px;
}
#u53 {
  position:absolute;
  left:810px;
  top:1283px;
  width:300px;
  height:86px;
  font-family:'RobotoSlab-Regular', 'Roboto Slab';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:448px;
}
#u55 {
  position:absolute;
  left:447px;
  top:1569px;
  width:743px;
  height:448px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:59px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u57 {
  position:absolute;
  left:10px;
  top:592px;
  width:134px;
  height:59px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u57_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:59px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:20px;
  top:20px;
  width:94px;
  white-space:nowrap;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:10px;
  top:1550px;
  width:373px;
  height:80px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:271px;
}
#u61 {
  position:absolute;
  left:447px;
  top:2037px;
  width:362px;
  height:271px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:271px;
}
#u63 {
  position:absolute;
  left:828px;
  top:2037px;
  width:362px;
  height:271px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u65 {
  position:absolute;
  left:810px;
  top:3494px;
  width:380px;
  height:380px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:519px;
}
#u67 {
  position:absolute;
  left:10px;
  top:1672px;
  width:380px;
  height:519px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F07A4C;
}
#u69 {
  position:absolute;
  left:10px;
  top:1631px;
  width:64px;
  height:36px;
  color:#F07A4C;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:690px;
  top:2553px;
  width:325px;
  height:80px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:359px;
}
#u73 {
  position:absolute;
  left:690px;
  top:2750px;
  width:476px;
  height:359px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F07A4C;
}
#u75 {
  position:absolute;
  left:690px;
  top:2636px;
  width:500px;
  height:108px;
  color:#F07A4C;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  position:absolute;
  left:10px;
  top:3347px;
  width:373px;
  height:80px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:270px;
}
#u79 {
  position:absolute;
  left:10px;
  top:3482px;
  width:780px;
  height:270px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F07A4C;
}
#u81 {
  position:absolute;
  left:10px;
  top:3433px;
  width:701px;
  height:36px;
  color:#F07A4C;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  white-space:nowrap;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:10px;
  top:4959px;
  width:373px;
  height:80px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:160px;
}
#u85 {
  position:absolute;
  left:10px;
  top:5089px;
  width:780px;
  height:160px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F07A4C;
}
#u87 {
  position:absolute;
  left:10px;
  top:5050px;
  width:565px;
  height:36px;
  color:#F07A4C;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  white-space:nowrap;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u89 {
  position:absolute;
  left:810px;
  top:3894px;
  width:380px;
  height:380px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:59px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u91 {
  position:absolute;
  left:690px;
  top:3092px;
  width:211px;
  height:59px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u91_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:59px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u91.mouseOver {
}
#u92 {
  position:absolute;
  left:20px;
  top:20px;
  width:171px;
  white-space:nowrap;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:430px;
}
#u93 {
  position:absolute;
  left:10px;
  top:3790px;
  width:719px;
  height:430px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:10px;
  top:5471px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96_img {
  position:absolute;
  left:-50px;
  top:-45px;
  width:643px;
  height:506px;
}
#u96 {
  position:absolute;
  left:647px;
  top:4320px;
  width:543px;
  height:406px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:404px;
}
#u98 {
  position:absolute;
  left:39px;
  top:4322px;
  width:125px;
  height:404px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:434px;
}
#u100 {
  position:absolute;
  left:208px;
  top:4325px;
  width:376px;
  height:434px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:2px;
}
#u102 {
  position:absolute;
  left:312px;
  top:2462px;
  width:580px;
  height:1px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:2px;
}
#u104 {
  position:absolute;
  left:312px;
  top:3267px;
  width:580px;
  height:1px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:2px;
}
#u106 {
  position:absolute;
  left:312px;
  top:4879px;
  width:580px;
  height:1px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:42px;
}
#u108 {
  position:absolute;
  left:1074px;
  top:4749px;
  width:116px;
  height:42px;
  color:#F07A4C;
}
#u108_img.mouseOver {
}
#u108.mouseOver {
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u110 {
  position:absolute;
  left:843px;
  top:4993px;
  width:317px;
  height:36px;
  font-size:20px;
  text-align:center;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u112 {
  position:absolute;
  left:843px;
  top:5207px;
  width:317px;
  height:36px;
  font-size:20px;
  text-align:center;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
