body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1224px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:427px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 20px 50px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 20px 50px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 20px 50px rgba(0, 0, 0, 0.149019607843137);
}
#u177 {
  position:absolute;
  left:843px;
  top:4959px;
  width:317px;
  height:427px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Bold', 'Roboto Slab Bold', 'Roboto Slab';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#F07A4C;
  text-align:center;
}
#u179 {
  position:absolute;
  left:843px;
  top:5203px;
  width:317px;
  height:172px;
  font-family:'RobotoSlab-Bold', 'Roboto Slab Bold', 'Roboto Slab';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#F07A4C;
  text-align:center;
}
#u180 {
  position:absolute;
  left:0px;
  top:46px;
  width:317px;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Bold', 'Roboto Slab Bold', 'Roboto Slab';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#F07A4C;
  text-align:center;
}
#u181 {
  position:absolute;
  left:843px;
  top:4978px;
  width:317px;
  height:194px;
  font-family:'RobotoSlab-Bold', 'Roboto Slab Bold', 'Roboto Slab';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#F07A4C;
  text-align:center;
}
#u182 {
  position:absolute;
  left:0px;
  top:57px;
  width:317px;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:680px;
}
#u183 {
  position:absolute;
  left:0px;
  top:2553px;
  width:729px;
  height:680px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:0px;
  top:-20px;
  width:1200px;
  height:851px;
  overflow:hidden;
}
#u185_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:851px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(77, 176, 129, 1);
  background-image:url('../../images/precheck_myscript/u185_state0.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:130px 130px;
}
#u185_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u186 {
  position:absolute;
  left:70px;
  top:143px;
}
#u186_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u186_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:585px;
}
#u187 {
  position:absolute;
  left:20px;
  top:0px;
  width:1134px;
  height:585px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 35px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 5px 35px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 5px 35px rgba(0, 0, 0, 0.247058823529412);
}
#u189 {
  position:absolute;
  left:10px;
  top:762px;
  width:1180px;
  height:700px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u191 {
  position:absolute;
  left:504px;
  top:809px;
  width:193px;
  height:22px;
  color:#666666;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
  line-height:80px;
}
#u193 {
  position:absolute;
  left:10px;
  top:142px;
  width:361px;
  height:160px;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
  line-height:80px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u195_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:205px;
  height:10px;
}
#u195 {
  position:absolute;
  left:15px;
  top:345px;
  width:200px;
  height:5px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u197 {
  position:absolute;
  left:10px;
  top:385px;
  width:170px;
  height:22px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u199 {
  position:absolute;
  left:10px;
  top:415px;
  width:306px;
  height:56px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:48px;
}
#u201 {
  position:absolute;
  left:210px;
  top:851px;
  width:784px;
  height:48px;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:294px;
}
#u203 {
  position:absolute;
  left:110px;
  top:870px;
  width:980px;
  height:294px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:70px;
}
#u206 {
  position:absolute;
  left:10px;
  top:0px;
  width:102px;
  height:70px;
  font-family:'PillGothic300mg-Oblique', 'Pill Gothic 300mg Oblique', 'Pill Gothic 300mg';
  font-weight:400;
  font-style:italic;
  font-size:32px;
  color:#666666;
}
#u207 {
  position:absolute;
  left:30px;
  top:27px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:70px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u208 {
  position:absolute;
  left:1156px;
  top:0px;
  width:44px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u208_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u208.mouseOver {
}
#u208_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u208.selected {
}
#u209 {
  position:absolute;
  left:0px;
  top:24px;
  width:44px;
  white-space:nowrap;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u210 {
  position:absolute;
  left:629px;
  top:0px;
  width:134px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u210_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u210.mouseOver {
}
#u210_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u210.selected {
}
#u211 {
  position:absolute;
  left:0px;
  top:24px;
  width:134px;
  white-space:nowrap;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u212 {
  position:absolute;
  left:1125px;
  top:0px;
  width:85px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u212_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u212.mouseOver {
}
#u212_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u212.selected {
}
#u213 {
  position:absolute;
  left:0px;
  top:24px;
  width:85px;
  white-space:nowrap;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u214 {
  position:absolute;
  left:924px;
  top:0px;
  width:73px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u214_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u214.mouseOver {
}
#u214_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u214.selected {
}
#u215 {
  position:absolute;
  left:0px;
  top:24px;
  width:73px;
  white-space:nowrap;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u216 {
  position:absolute;
  left:1027px;
  top:0px;
  width:68px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u216_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u216.mouseOver {
}
#u216_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u216.selected {
}
#u217 {
  position:absolute;
  left:0px;
  top:24px;
  width:68px;
  white-space:nowrap;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u218 {
  position:absolute;
  left:793px;
  top:0px;
  width:101px;
  height:70px;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u218_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u218.mouseOver {
}
#u218_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
}
#u218.selected {
}
#u219 {
  position:absolute;
  left:0px;
  top:24px;
  width:101px;
  white-space:nowrap;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  position:absolute;
  left:10px;
  top:507px;
  width:68px;
  height:22px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u222 {
  position:absolute;
  left:10px;
  top:534px;
  width:131px;
  height:28px;
  color:#FFFFFF;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u224 {
  position:absolute;
  left:532px;
  top:1216px;
  width:138px;
  height:22px;
  color:#666666;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:70px;
}
#u226 {
  position:absolute;
  left:110px;
  top:1283px;
  width:280px;
  height:70px;
  text-align:center;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:86px;
}
#u228 {
  position:absolute;
  left:462px;
  top:1283px;
  width:277px;
  height:86px;
  font-family:'RobotoSlab-Regular', 'Roboto Slab';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:86px;
}
#u230 {
  position:absolute;
  left:810px;
  top:1283px;
  width:300px;
  height:86px;
  font-family:'RobotoSlab-Regular', 'Roboto Slab';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:448px;
}
#u232 {
  position:absolute;
  left:447px;
  top:1569px;
  width:743px;
  height:448px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:59px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u234 {
  position:absolute;
  left:10px;
  top:592px;
  width:134px;
  height:59px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u234_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:59px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u234.mouseOver {
}
#u235 {
  position:absolute;
  left:20px;
  top:20px;
  width:94px;
  white-space:nowrap;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  position:absolute;
  left:10px;
  top:1550px;
  width:373px;
  height:80px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:271px;
}
#u238 {
  position:absolute;
  left:447px;
  top:2037px;
  width:362px;
  height:271px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:271px;
}
#u240 {
  position:absolute;
  left:828px;
  top:2037px;
  width:362px;
  height:271px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u242 {
  position:absolute;
  left:810px;
  top:3494px;
  width:380px;
  height:380px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:519px;
}
#u244 {
  position:absolute;
  left:10px;
  top:1672px;
  width:380px;
  height:519px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F07A4C;
}
#u246 {
  position:absolute;
  left:10px;
  top:1631px;
  width:64px;
  height:36px;
  color:#F07A4C;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  position:absolute;
  left:690px;
  top:2553px;
  width:325px;
  height:80px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:359px;
}
#u250 {
  position:absolute;
  left:690px;
  top:2750px;
  width:476px;
  height:359px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  word-wrap:break-word;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F07A4C;
}
#u252 {
  position:absolute;
  left:690px;
  top:2636px;
  width:500px;
  height:108px;
  color:#F07A4C;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u254 {
  position:absolute;
  left:10px;
  top:3347px;
  width:373px;
  height:80px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:270px;
}
#u256 {
  position:absolute;
  left:10px;
  top:3482px;
  width:780px;
  height:270px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F07A4C;
}
#u258 {
  position:absolute;
  left:10px;
  top:3433px;
  width:701px;
  height:36px;
  color:#F07A4C;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  white-space:nowrap;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u260 {
  position:absolute;
  left:10px;
  top:4959px;
  width:373px;
  height:80px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:160px;
}
#u262 {
  position:absolute;
  left:10px;
  top:5089px;
  width:780px;
  height:160px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F07A4C;
}
#u264 {
  position:absolute;
  left:10px;
  top:5050px;
  width:565px;
  height:36px;
  color:#F07A4C;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  white-space:nowrap;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u266 {
  position:absolute;
  left:810px;
  top:3894px;
  width:380px;
  height:380px;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:59px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u268 {
  position:absolute;
  left:690px;
  top:3092px;
  width:211px;
  height:59px;
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u268_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:59px;
  background:inherit;
  background-color:rgba(240, 122, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 5px 15px rgba(0, 0, 0, 0.247058823529412);
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u268.mouseOver {
}
#u269 {
  position:absolute;
  left:20px;
  top:20px;
  width:171px;
  white-space:nowrap;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:430px;
}
#u270 {
  position:absolute;
  left:10px;
  top:3790px;
  width:719px;
  height:430px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:10px;
  top:5471px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u273_img {
  position:absolute;
  left:-50px;
  top:-45px;
  width:643px;
  height:506px;
}
#u273 {
  position:absolute;
  left:647px;
  top:4320px;
  width:543px;
  height:406px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:404px;
}
#u275 {
  position:absolute;
  left:39px;
  top:4322px;
  width:125px;
  height:404px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:434px;
}
#u277 {
  position:absolute;
  left:208px;
  top:4325px;
  width:376px;
  height:434px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:2px;
}
#u279 {
  position:absolute;
  left:312px;
  top:2462px;
  width:580px;
  height:1px;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:2px;
}
#u281 {
  position:absolute;
  left:312px;
  top:3267px;
  width:580px;
  height:1px;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:2px;
}
#u283 {
  position:absolute;
  left:312px;
  top:4879px;
  width:580px;
  height:1px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:42px;
}
#u285 {
  position:absolute;
  left:1074px;
  top:4749px;
  width:116px;
  height:42px;
  color:#F07A4C;
}
#u285_img.mouseOver {
}
#u285.mouseOver {
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u287 {
  position:absolute;
  left:843px;
  top:4993px;
  width:317px;
  height:36px;
  font-size:20px;
  text-align:center;
}
#u288 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u289 {
  position:absolute;
  left:843px;
  top:5207px;
  width:317px;
  height:36px;
  font-size:20px;
  text-align:center;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
