.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.fontawesome {
}
.card_style {
}
.paragraph_small {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.btn_primary {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.btn_primary_mouseover {
}
.btn_primary_mousedown {
}
.btn_primary_disabled {
  color:#879196;
}
.btn_secondary {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1595FA;
}
.btn_secondary_mouseover {
  color:#FFFFFF;
}
.btn_secondary_mousedown {
}
.btn_secondary_disabled {
  color:#879196;
}
.radiobtn {
}
.radiobtn_mouseover {
}
.radiobtn_selected {
}
.checkbox {
}
.checkbox_mouseover {
}
.checkbox_selected {
}
.form_field {
}
.form_field_label {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#757E82;
}
.form_input_txt {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
.tooltip {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#879196;
  text-align:left;
  line-height:21px;
}
.tab_active {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:center;
}
.tab_inactive {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1595FA;
  text-align:center;
}
.h_giga {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#333333;
}
.h_mega {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#333333;
}
.btn_tertiary {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1595FA;
}
.btn_tertiary_mouseover {
  color:#2E9FF9;
}
.btn_tertiary_mousedown {
  color:#1287E0;
}
.btn_tertiary_disabled {
  color:#879196;
}
.shape {
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.image {
  color:#000000;
}
.heading_1 {
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:left;
}
.heading_4 {
  font-size:20px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#879196;
  text-align:left;
}
.heading_6 {
  font-size:12px;
  color:#879196;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  font-size:16px;
  text-align:left;
  line-height:24px;
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.checkbox1 {
  text-align:left;
}
.flow_shape {
}
.html_button {
  color:#000000;
}
.horizontal_line {
}
.vertical_line {
}
.connector {
}
.heading_mega {
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#333333;
}
.heading_11 {
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_41 {
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
.heading_51 {
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_61 {
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.btn_primary1 {
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.btn_primary_mouseover1 {
}
.btn_primary_mousedown1 {
}
.btn_primary_disabled1 {
  color:#879196;
}
.radio_default {
}
.radio_selected {
}
.radio_mouseover {
}
.input_field {
}
.input_text {
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
.hint_style {
  font-family:'Verdana-Italic', 'Verdana Italic', 'Verdana';
  font-weight:400;
  font-style:italic;
  font-size:16px;
  color:#879196;
  text-align:left;
}
.input_label {
  font-family:'Verdana', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#879196;
  text-align:left;
}
.icon {
}
