.ax_default {
  font-family:'ProximaNova-Bold', 'Proxima Nova Bold', 'Proxima Nova';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.flow_shape {
}
.line {
}
.new_style {
  font-family:'Superclarendon-Light', 'Superclarendon Light', 'Superclarendon';
  font-weight:200;
  font-style:normal;
  font-size:60px;
  text-align:left;
  line-height:60px;
}
.projectheader {
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
.overviewparagraph {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:42px;
}
.aboutme {
}
.nav-selected {
  color:#FFFFFF;
  text-align:center;
}
.nav-hover {
  color:#FFFFFF;
  text-align:center;
}
.nav-default {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.responsibilitestext {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
.homepagenav-default {
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.homepagenav-hover {
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.homepagenav-selected {
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.sectionheader {
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:48px;
  color:#666666;
  text-align:left;
  line-height:80px;
}
.sectionsubhead {
  font-family:'Montserrat-Regular', 'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F07A4C;
  text-align:left;
  line-height:36px;
}
.workskilllabel {
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
