body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1535px;
}
#u83 {
  position:absolute;
  left:0px;
  top:62px;
  width:1366px;
  height:1535px;
}
#u84 {
  position:absolute;
  left:2px;
  top:760px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:fixed;
  left:50%;
  margin-left:-4px;
  top:0px;
}
#u85_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(230, 228, 227, 1);
  background-image:none;
}
#u85_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:60px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:60px;
}
#u87 {
  position:absolute;
  left:2px;
  top:22px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:fixed;
  left:50%;
  margin-left:-276.5px;
  top:0px;
}
#u88_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u88_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:60px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:60px;
}
#u90 {
  position:absolute;
  left:2px;
  top:22px;
  width:549px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:fixed;
  right:0px;
  top:0px;
}
#u91_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u91_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u93 {
  position:absolute;
  left:2px;
  top:22px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:1620px;
}
#u94_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(178, 173, 166, 1);
  background-image:none;
}
#u94_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:50px;
}
#u95 {
  position:absolute;
  left:2px;
  top:0px;
  width:1364px;
  height:50px;
}
#u96 {
  position:absolute;
  left:2px;
  top:17px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:70px;
  top:98px;
  width:250px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
