body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:921px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:921px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:88px;
  width:541px;
  height:833px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:833px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:-88px;
  width:515px;
  height:1008px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:1008px;
}
#u3 {
  position:absolute;
  left:2px;
  top:496px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:71px;
  top:42px;
  width:403px;
  height:87px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:87px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:71px;
  top:129px;
  width:403px;
  height:130px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:130px;
}
#u7 {
  position:absolute;
  left:2px;
  top:57px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:71px;
  top:259px;
  width:403px;
  height:130px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:130px;
}
#u9 {
  position:absolute;
  left:2px;
  top:57px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:71px;
  top:389px;
  width:403px;
  height:132px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:132px;
}
#u11 {
  position:absolute;
  left:2px;
  top:58px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:71px;
  top:521px;
  width:403px;
  height:130px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:130px;
}
#u13 {
  position:absolute;
  left:2px;
  top:57px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:71px;
  top:651px;
  width:403px;
  height:128px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:128px;
}
#u15 {
  position:absolute;
  left:2px;
  top:56px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:71px;
  top:779px;
  width:403px;
  height:91px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:91px;
}
#u17 {
  position:absolute;
  left:2px;
  top:38px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:919px;
  width:515px;
  height:151px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:152px;
}
#u19 {
  position:absolute;
  left:2px;
  top:68px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:71px;
  top:42px;
  width:403px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:71px;
  top:129px;
  width:403px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:71px;
  top:259px;
  width:403px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:71px;
  top:389px;
  width:403px;
  height:132px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:71px;
  top:521px;
  width:403px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:71px;
  top:651px;
  width:403px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:104px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:104px;
}
#u28 {
  position:absolute;
  left:2px;
  top:44px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:515px;
  top:0px;
  width:25px;
  height:920px;
}
#u29_img {
  position:absolute;
  left:-11px;
  top:-5px;
  width:37px;
  height:931px;
}
#u30 {
  position:absolute;
  left:2px;
  top:452px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:750px;
  width:515px;
  height:170px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:170px;
}
#u32 {
  position:absolute;
  left:2px;
  top:77px;
  width:511px;
  visibility:hidden;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  word-wrap:break-word;
  transform-origin:255.5px 8px;
  -ms-transform-origin:255.5px 8px;
  -moz-transform-origin:255.5px 8px;
  -webkit-transform-origin:255.5px 8px;
}
#u33 {
  position:absolute;
  left:0px;
  top:10px;
  width:505px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:0px;
  top:88px;
  width:641px;
  height:833px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:833px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:789px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:789px;
}
#u36 {
  position:absolute;
  left:2px;
  top:386px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:789px;
}
#u37_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:75px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:75px;
}
#u40 {
  position:absolute;
  left:2px;
  top:30px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:30px;
  top:12px;
  width:140px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  position:absolute;
  left:180px;
  top:12px;
  width:130px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  position:absolute;
  left:320px;
  top:12px;
  width:130px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  position:absolute;
  left:460px;
  top:12px;
  width:160px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
}
#u45_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u45_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:103px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:103px;
}
#u47 {
  position:absolute;
  left:2px;
  top:44px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:480px;
  top:10px;
  width:160px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:fixed;
  left:50%;
  margin-left:-196.5px;
  top:50%;
  margin-top:-101px;
  visibility:hidden;
}
#u50_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:202px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:202px;
}
#u52 {
  position:absolute;
  left:2px;
  top:93px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
